

@keyframes glow {
	from : {
		box-shadow: 0px 0px 0px rgba(255,0,0,.4);
		border: 2px solid red;
	}
	to : {
		box-shadow: 0px 0px 10px rgba(255,0,0,.4);
		border: 1px solid red;
	}
}

/*
.slide-up {
	animation-name: slide-up-animation;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}*/

@keyframes slide-up-animation {
	from : {
		transform: translateY(0%);
	}
	to : {
		transform: translateY(200%);
	}
}