.slides {
  height: 100%;
  padding-right: unset;
  &__inner {
    height: 100vh;
    .carousel-item {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__indicator {
    top: 50vh;
    .active {
      background-color: $primary;
    }
    li {
      border: unset;
      height: 15px;
      width: 15px;
      margin: -5px 5px 0px 5px;
      border-radius: 50px;
      opacity: 1;
    }
  }
  &__control {
    &.carousel-control-prev {
      left: 20px;
    }
    &.carousel-control-next {
      right: 20px;
    }
    ::before {
      position: absolute;
      content: '';
      background-color: #fff;
      opacity: 0.6;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      transform: translateY(-30%) translateX(-50%);
    }
  }
}
