.post {
  &__head {
    padding: 10px 0px;
    &-details {
      &--avatar {
        img {
          height: 30px;
          width: 30px;
          border-radius: 50px;
          object-fit: cover;
        }
        div {
          height: 30px;
          width: 30px;
          background-color: $primary;
          border-radius: 50px;
          font-weight: $bold;
          color: #fff;
        }
      }
      &--hd {
        &-handle {
          &--dn {
            font-size: 15px;
            font-weight: $bold;
          }
          &--username {
            font-size: $font13;
          }
        }
        &-desc {
          font-size: $font13;
        }
      }
    }
  }
  &__body {
    min-height: 350px;
    position: relative;
    &-image {
      border-radius: 15px 15px 0px 0px;
      height: 350px;
      width: 100%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    &-bookmark {
      right: 20px;
      top: 300px;
      opacity: 0.4;
    }
    &-action {
      height: 200px;
      width: 50px;
      right: 0;
      top: 30px;
      transform: translateX(100%);
      font-size: $font13;
      &--like {
        animation-name: glow;
        animation-delay: .5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-duration: 2s;
        cursor: pointer;
        position: relative;
        &:hover {
          color: red;
          &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            transform: translateX(12%) translateY(-20%);
            height: 40px;
            border-radius: 50%;
            width: 40px;
            background-color: rgba(red, $alpha: 0.1);
          }
        }
      }
      &--comment {
        cursor: pointer;
        position: relative;
        &:hover {
          color: $primary;
          &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            transform: translateX(12%) translateY(-20%);
            height: 40px;
            border-radius: 50%;
            width: 40px;
            background-color: rgba($primary, $alpha: 0.1);
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .post {
    margin-bottom: 70px !important;
    &__head {
      &-details {
        &--avatar {
          img {
            height: 50px;
            width: 50px;
          }
          div {
            height: 50px;
            width: 50px;
          }
        }
        &--hd {
          &-handle {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            line-height: 15px;
          }
        }
      }
    }
    &__body {
      position: relative;
      min-height: 350px;
      &-image {
        border-radius: 5px 5px 0px 0px;
        min-height: 300px;

      }
      &-bookmark {
        right: 20px;
        top: 300px;
        opacity: 0.4;
      }
      &-date {
        font-size: $font13;
      position: absolute;
      top : 290px;
      left: 10px;
      z-index: 10;
      color: white;
      }
      &-action {
        height: auto;
        width: 80px;
        right: 10px;
        bottom: 100%;
        z-index: 10;
        top: unset;
        transform: translateY(110%) scale(0.8);
        font-size: $font13;
        display: flex;
        justify-content: space-between;
        &--like {
          &:hover {
            &::before {
              transform: translateX(-20%) translateY(-25%);
              height: 50px;
              width: 50px;
            }
          }
        }
        &--comment {
          img {
            margin: 0px 0px 5px 0px;
            transform: scale(1.4);
            margin-bottom: unset !important;
          }
          &:hover {
            &::before {
              transform: translateX(-28%) translateY(-25%);
              height: 50px;
              width: 50px;
            }
          }
        }
      }
    }
  }
}
