$SourceSans: 'Source Sans Pro', sans-serif;
$Gilroy: 'Gilroy', sans-serif;
$Santya: 'Santya';
$primary: #9f6fd2;
$primaryDisabled: #b79fd2;
$font13: 13px;
$font11: 11px;
$bold: 600;


$homeViewBG: rgba(245,245,255,1);
$commentColor : $primary;
