.media-viewer {
	position: fixed;
	width: calc(100% - 100px);
	height: 88vh;
	top:84px;
	z-index: 200;
	left:100px;
	background-color: rgba(0,0,0,.6);
	overflow: hidden;
	&.close {
		display: none;
	}

	& img {
		height: 40% !important;
		width: 40% !important;
		object-fit: contain !important;
	}
	
	&__container {
		& .close-btn {
			position: absolute;
			top: 50px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: red;
			right: 50px;
			display: none;
		}

		& img {
			height: 100%;
	        width: 100%;
	        object-fit: cover;
	        object-position: top;
		}
	}
}

@media (max-width: 991.98px) {
	.media-viewer {
		position: fixed;
		width: 100%;
		height: calc(100vh - 120px);
		top:60px;
		z-index: 200;
		padding-top: 20px;
		left:0px;
		background-color: rgba(0,0,0,.6);
		overflow: hidden;
		&.close {
			display: none;
		}

		& img {
			height: 40% !important;
			width: 80% !important;
			border-radius: 5px;
			object-fit: contain !important;
		}
	}
}