.sender {
  border-bottom: 1px solid #191919;
  cursor: pointer;
  &:hover {
    background-color: rgba($primary, $alpha: 0.3);
  }
  &__avatar {
    height: 60px;
    width: 60px;
    background-color: $primary;
    border-radius: 50%;
    align-self: flex-start;
    font-size: 30px;
    font-weight: $bold;
    color: #fff;
    flex-shrink: 0;
  }
  &__details {
    align-self: flex-end;
    &-namenuser {
      &--dn {
        font-size: 30px;
        font-weight: $bold;
        line-height: 20px;
      }
    }
    &-message {
      font-size: 14px;
      text-overflow: ellipsis;
      width: 150px;
      height: 20px;
      overflow: hidden;
      margin: unset;
      white-space: nowrap;
    }
  }
}
