.title {
  cursor: pointer;
  &__details {
    align-self: flex-end;
    &-namenuser {
      &--dn {
        font-size: 30px;
        font-weight: $bold;
        line-height: 20px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .title {
    &__details {
      margin-right: auto;
    }
  }
}
