.sidebar {
  height: 95vh;
  width: 100px;//180px
  z-index: 10099;
  top: 84px;
  border-right: 5px solid #e0e0e0;
  background-color: white;
  &__links {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    ul {
      list-style: none;
      margin: unset;
      padding: unset;
      height: 100%;
      li {
        position: relative;
        .router-link-exact-active {
          &::before {
            border-bottom: 5px solid $primary;
            position: absolute;
            content: '';
            width: 100%;
            bottom: 0;
            left: 0;
            transform: translateY(200%) translateX(0%);
          }
        }
        font-size: $font13;
        a {
          color: #000;
          display: block;
          transition: .2s all;
          &:hover {
            transform: scale(1.1);
            text-decoration: none;
          }
          & img {
            width: 25px;
            height: auto;
          }
        }
        &:last-of-type {
          margin-top: auto;
          margin-bottom: 80px !important;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .sidebar {
    height: 64px;
    width: 100%;
    border: unset;
    bottom: 0;
    padding-bottom: 15px;
    background-color: $primary;
    z-index: 99;
    top: unset;
    &__links {
      width: 90%;
      ul {
        list-style: none;
        padding: unset !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        li {
          padding-top: 10px;
          margin: unset !important;
          .router-link-active,
          .router-link-exact-active {
            &::before {
              border-bottom: 5px solid #fff;
              width: 100%;
              bottom: 5px;
              transform: translateY(200%) translateX(0);
            }
          }
          a {
            img {
              filter: brightness(10);
              height: 10px;
              width: 10px;
            }
            div {
              font-size: 10px;
              overflow: hidden;
              color: #fff;
              width: 50px;
              text-overflow: ellipsis;
            }
          }
          &:last-of-type {
            margin-top: unset;
            margin-bottom: unset !important;
          }
        }
      }
    }
  }
}
